{% extends 'src/base_index.html' %}

{% block Navigation %}
    <li class="active"><a href="{% url "download:index" %}">PDFsource</a></li>
    <li class="active"><a href="#">Blog</a></li>
    <li class="active"><a href="#">Investigate</a></li>
{% endblock %}

{% block Introduction %}
    <h1 class="cover-heading">我的博客</h1>
    <p class="lead">由此页面进入站长的个人博客,欢迎访客学习和指正
    </p>
{% endblock %}

{% block enter %}
    <a href="{% url 'blog:detail' %}" class="btn btn-lg btn-default" role="button">Enter</a>
{% endblock %}